@model LessonProject.Models.Info.PageableData<LessonProject.Models.User>
@{
    ViewBag.Title = "Users";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
    var searchString = (string)ViewBag.Search;
}
<h2>Users</h2>

@using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "form-search" }))
{
    @Html.TextBox("searchString", searchString ?? "", new { @class = "input-medium search-query" })
    <button type="submit" class="btn">Поиск</button> 
}
<p>
    @foreach (var user in Model.List)
    {
        <div class="item">
            <span class="id">
                @user.ID
            </span>
            <span class="email">
                @user.Email.NlToBr()
            </span>
            <span class="activateDate">
                @user.AddedDate
            </span>
        </div>
    }
    <div class="pagination">
        @Html.PageLinks(Model.PageNo, Model.CountPage, x => Url.Action("Index", new {page = x, searchString}))
    </div>
</p>
